# Python
__pycache__/
*.py[cod]
*$py.class

# PyInstaller
build/
dist/
*.spec
!app.spec


# Streamlit
.streamlit/

# Database
*.db
*.sqlite3

# Models
*.pt
!best.pt

# Virtual Environments
venv/
env/

# Dataset folders
TrashNet*/
*.yolov8/
